html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #1a1a1a;
    color: white;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 80px;
}

#ui {
    text-align: center;
}

button {
    background: #01b4ef;
}

button:hover {
    border: none;
    background: #01b4ef;
}

#streamSettings {
    font-size: 20px;
}

input {
    color: black;
    min-width: 0;
    text-align: center;
}

footer {
    text-align: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    text-align: right;
    height: 40px;
    background-color: #000000;
}
